<p>
  Welcome <%= @resource.email %>!
</p>
<p>
  You can confirm your account email through the link below:
</p>
<p>
  <%= link_to 'Confirm my account', "#{new_user_session_url}/?confirmation_token=#{@token}" %>
</p>